.body {

    background-image: url(https://img.freepik.com/foto-gratis/bandera-argentina_1401-57.jpg?w=2000) 
    }
      

.titulos{
    color: rgb(93, 162, 134);
}

.ul {
    border-left: 1px solid rgb(92, 59, 59);
}